# full requirements list freeze if needed 
# use python 3.9 in venv

altgraph==0.17.4
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
crypto==1.4.1
cryptography==44.0.1
distlib==0.3.9
Eel==0.18.1
filelock==3.17.0
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
keyboard==0.13.5
Naked==0.1.32
packaging==24.2
pefile==2023.2.7
pexpect==4.9.0
platformdirs==4.3.6
ptyprocess==0.7.0
pyarmor==9.0.7
pyarmor.cli==9.0.7
pyarmor.cli.core==7.6.3
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.21.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
pyminifier3==2.3.3
pyminify==0.0.1
pynput==1.7.7
pyparsing==3.2.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
setuptools==75.8.0
sh==2.2.1
shellescape==3.8.1
six==1.17.0
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.1
zope.event==5.0
zope.interface==7.2
keyboard==0.13.5
threading==0.0.1
datetime==5.5
os-sys==2.1.4
time==0.3.5
requests==2.32.3
pyminifier==2.1
